.dropdown_wrapper {
    position: relative;

    display: flex;
    flex: 1;

    width: fit-content;
}
.dropdown_button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 5rem;
    width: fit-content;
    min-width: 100%;

    font-family: "montserrat";
    font-size: 2.4rem;

    background-color: #30303a;
    border: 0px;
    border-radius: 2.5rem;

    font-style: bold;
}
.dropdown_content {
    position: absolute;
    top: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: fit-content;
    min-width: 100%;

    font-size: 2.4rem;

    background-color: #202027;
    border: 0px;
    border-radius: 2.5rem 2.5rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* потом посчитать сколько тень как там короче мбля */

    overflow: hidden;
}
.dropdown_item {
    text-align: center;

    width: fit-content;
    min-width: 100%;
    padding: 1rem;
}
.dropdown_item:hover {
    background-color: #30303a;

    cursor: pointer;
}
