.dropdown_wrapper {
    position: relative;
    z-index: 0;

    display: flex;
    flex: 1;

    width: fit-content;

    transition: z-index 0s 0.3s ease-in-out;
}
.dropdown_wrapper.menu_opened {
    z-index: 10;

    transition: z-index 0s 0s ease-in-out;
}
.dropdown_button {
    z-index: 2;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 5rem;
    width: fit-content;
    min-width: 100%;

    font-family: "montserrat";
    font-size: 2.4rem;

    background-color: #30303a;
    border: 0px;
    border-radius: 2.5rem;

    font-style: bold;
}
.dropdown_mask {
    position: absolute;
    z-index: 1;

    display: grid;

    min-width: 100%;

    border: 0px;
    border-radius: 2.5rem 2.5rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* потом посчитать сколько тень как там короче мбля */

    transition: all 0.3s ease-in-out;

    grid-template-rows: 0fr;

    overflow: hidden;
}
.dropdown_mask.menu_opened {
    position: absolute;

    display: grid;

    grid-template-rows: 1fr;
}
.dropdown_content {
    top: 100%;

    display: flex;
    flex-direction: column;

    width: fit-content;
    min-width: 100%;
    padding-top: 5rem;

    font-size: 2.4rem;

    background-color: #202027;

    overflow: hidden;
}
.dropdown_item {
    text-align: center;

    width: fit-content;
    min-width: 100%;
    padding: 1rem;
}
.dropdown_item:hover {
    background-color: #30303a;

    cursor: pointer;
}
